#Cards{
    width: 90%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 0%;
    border: 0px;
  }

#CardButtons{
  background-color:#3AAFA9 ;
  color: white;
  border: none;
  padding: 2%;
  align-items: center;
  justify-content: center;
}