#ImageCardDiv{
    position: relative;
    margin: 5%;
}

#ImageCardCaption{
   
    margin: 0%;
    padding: 1%;
    position:absolute;
    font-size: 25px;
    bottom: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    text-align: center;
  
}